.c-container {
    text-align: center;
}

.c-container__fazenda {
    display: inline-block;
}

.c-container__fazenda * {
    margin-bottom: 6px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}