.c-container {
    text-align: center;
}

.c-container__carro {
    display: inline-block;
}

.c-container__carro * {
    display: flexbox;
    margin: 2px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}